{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я Ирина.</h1>
  <h2 style="color:green">Будущий <img src="{% static 'img/about/snake.png' %}" class="snake" width="80" height="70" alt="">-разработчик.</h2>
</div>
<div class="container py-3">
  <h3>Мой путь</h3>
  <p>На данный момент я работаю Старшим менеджером по логистике. Заинтересовалась программированием еще пару лет назад.
    Некоторое время занималась самостоятельно. За это время успела изучить довольно немало различного материала, который сейчас очень помогает в обучении.
    Пойти учиться в Яндекс.Практикум я решила потому, что в самостятельном изучении мне не хватало структуры, а также обратной связи и иногда помощи.
  </p>
</div>
<div class="container py-3">
  <h3>Учиться и не сдаваться</h3>
  <h6>Вот что помогает мне продолжать обучение и верить в то, что все обязательно получится:</h6>
  <ul>
    <li>Отдых! (да, как ни странно, но отдыхать очень важно и нужно);</li>
    <li>Отличная подача материала от Яндекс.Практикум;</li>
    <li>Наша прекрасная Когорта 61 и вся команда Практикума, задействованная в обучении;</li>
    <li>Моя семья, которая верит в меня и всегда поддерживает;</li>
    <li>Друзья, особенно те, что в теме 🙂;</li>
    <li>Огромное желание осваивать новые знания и углубляться в мир разработки и ИТ-технологий в целом.</li>
  </ul>
</div>
<div class="container py-3">
  <h4>Подробнее обо мне можно узнать тут</h4>
  <a class="link" style="color:green" href="https://www.linkedin.com/in/irina-ignasheva-20aa03224/">LinkedIn</a>
  <br>
  <a class="link" style="color:green" href="https://spb.hh.ru/resume/b562a209ff08ba73700039ed1f64554a5a3466">HeadHunter</a>
</div>
<div class="container py-3">
  <h4>А еще, я очень люблю ежей и желаю всем хорошего настроения!</h4>
  <img src="{% static 'img/about/hedgehog.png' %}" class="hedgehog" width="700" height="450" alt="">
</div>
{% endblock %} 